.imgcal{
    display:flex;
    justify-content: center;
    margin-top: 35px;
    padding: 35px;
}
.imgcal1{
    margin-right: 10px;
}
.imgcal2{
    margin-left:10px;
    
}
#titcal{
    text-align: center;
    color:#1113CF;
    text-decoration:underline;
    }